{
  "swagger": "2.0",
  "info": {
    "description": "深圳竹芒科技有限公司(搜电充电)专注品牌，追求品质， 不仅专注于提升产品性能及用户体验，同时还注重保障合作伙伴的权益，为搜电合伙人提供多方位的保障，实现互利共赢。",
    "version": "1.23.45",
    "title": "搜电充电接口文档",
    "contact": {
      "email": "liqingyun.chn@gmail.com"
    }
  },
  "host": "api.soudian.com",
  "basePath": "/v2",
  "schemes": [
    "https",
    "http"
  ],
  "tags": [
    {
      "name": "基础",
      "description": "系统公共接口"
    },
    {
      "name": "官网",
      "description": "集团官网"
    },
    {
      "name": "商城",
      "description": "在线商城及小程序"
    },
    {
      "name": "公众号",
      "description": "微信公众号"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "基础"
        ],
        "summary": "登录账号",
        "description": "登录账号，可以登录集团官网、商城、公众号和微信小程序",
        "parameters": [
          {
            "name": "userName",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "用户名称"
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "用户密码"
          }
        ],
        "responses": {
          "200": {
            "description": "登录成功",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Token密钥"
                }
              }
            }
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "基础"
        ],
        "summary": "退出账号",
        "description": "登出账号",
        "parameters": [
          {
            "name": "userId",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "required": true,
            "description": "用户ID"
          }
        ],
        "responses": {
          "200": {
            "description": "退出成功"
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      }
    },
    "/user": {
      "post": {
        "tags": [
          "基础"
        ],
        "summary": "创建用户",
        "description": "创建的用户的基本信息，包含用户商城模块数据",
        "parameters": [
          {
            "name": "userName",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "用户名称"
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "用户密码"
          },
          {
            "name": "realName",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "真实姓名"
          }
        ],
        "responses": {
          "200": {
            "description": "创建成功",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      }
    },
    "/user/{userId}": {
      "get": {
        "tags": [
          "基础"
        ],
        "summary": "获取用户",
        "description": "获取的用户的基本信息，包含用户商城模块数据",
        "parameters": [
          {
            "name": "userId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "用户ID"
          }
        ],
        "responses": {
          "200": {
            "description": "获取用户信息成功",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "基础"
        ],
        "summary": "修改用户",
        "description": "修改的用户的基本信息",
        "parameters": [
          {
            "name": "userId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "用户ID"
          },
          {
            "name": "userName",
            "type": "string",
            "in": "query",
            "description": "用户名称"
          },
          {
            "name": "realName",
            "type": "string",
            "in": "query",
            "description": "真实姓名"
          }
        ],
        "responses": {
          "200": {
            "description": "修改用户信息成功",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "基础"
        ],
        "summary": "删除用户",
        "description": "删除用户的基本信息",
        "parameters": [
          {
            "name": "userId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "用户ID"
          }
        ],
        "responses": {
          "200": {
            "description": "删除用户信息成功"
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "基础"
        ],
        "summary": "修改用户密码",
        "description": "修改的用户的密码信息",
        "parameters": [
          {
            "name": "userId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "用户ID"
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "新密码"
          }
        ],
        "responses": {
          "200": {
            "description": "修改用户信息成功"
          },
          "400": {
            "description": "参数无效",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "用户不存在",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:token",
              "read:token"
            ]
          }
        ]
      }
    },
    "/case/list": {
      "get": {
        "tags": [
          "官网",
          "公众号"
        ],
        "summary": "案例列表",
        "description": "获取案例列表数据",
        "parameters": [
          {
            "name": "cid",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "分类ID"
          },
          {
            "name": "pager",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "页码"
          },
          {
            "name": "per",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "每页数据量"
          }
        ],
        "responses": {
          "200": {
            "description": "获取数据成功",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/case"
              }
            }
          }
        }
      }
    },
    "/case/detail/{id}": {
      "get": {
        "tags": [
          "官网",
          "公众号"
        ],
        "summary": "案例详情",
        "description": "获取案例详情数据",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "获取数据成功",
            "schema": {
              "$ref": "#/definitions/case"
            }
          }
        }
      }
    },
    "/product/list": {
      "get": {
        "tags": [
          "商城",
          "公众号"
        ],
        "summary": "商品列表",
        "description": "获取商品列表数据",
        "parameters": [
          {
            "name": "cid",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "分类ID"
          },
          {
            "name": "pager",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "页码"
          },
          {
            "name": "per",
            "type": "integer",
            "format": "int32",
            "in": "query",
            "description": "每页数据量"
          }
        ],
        "responses": {
          "200": {
            "description": "获取数据成功",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product"
              }
            }
          }
        }
      }
    },
    "/product/detail/{id}": {
      "get": {
        "tags": [
          "商城",
          "公众号"
        ],
        "summary": "产品详情",
        "description": "获取产品详情数据",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true,
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "获取数据成功",
            "schema": {
              "$ref": "#/definitions/product"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "error": {
      "description": "错误模型",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "错误描述"
        }
      }
    },
    "user": {
      "description": "用户模型",
      "type": "object",
      "properties": {
        "userId": {
          "type": "integer",
          "format": "int32",
          "description": "用户ID"
        },
        "userName": {
          "type": "string",
          "description": "用户名称"
        },
        "realName": {
          "type": "string",
          "description": "真实姓名"
        },
        "level": {
          "type": "string",
          "description": "用户等级"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "用户权限组"
        },
        "createTime": {
          "type": "string",
          "description": "注册时间"
        }
      }
    },
    "case": {
      "description": "案例模型",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "title": {
          "type": "string",
          "description": "标题"
        },
        "summary": {
          "type": "string",
          "description": "描述"
        },
        "image": {
          "type": "string",
          "description": "缩略图"
        },
        "createTime": {
          "type": "string",
          "description": "创建时间"
        },
        "hit": {
          "type": "integer",
          "format": "int32",
          "description": "点击量"
        }
      }
    },
    "product": {
      "description": "商品模型",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "title": {
          "type": "string",
          "description": "标题"
        },
        "summary": {
          "type": "string",
          "description": "描述"
        },
        "image": {
          "type": "string",
          "description": "缩略图"
        },
        "createTime": {
          "type": "string",
          "description": "创建时间"
        },
        "fee": {
          "type": "integer",
          "format": "int32",
          "description": "售卖价格"
        },
        "kucun": {
          "type": "integer",
          "format": "int32",
          "description": "库存数量"
        },
        "sale": {
          "type": "integer",
          "format": "int32",
          "description": "售卖数量"
        },
        "hit": {
          "type": "integer",
          "format": "int32",
          "description": "商品热度"
        }
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:token": "写入Toekn",
        "read:token": "读取Token"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "access_token",
      "in": "header"
    }
  },
  "externalDocs": {
    "description": "技术支持",
    "url": "http://swagger.io"
  }
}